.searchBar{
  width: 25%;
  margin-bottom: 15px;
 
}

.pi-search {
  color: rgb(7, 7, 7);
  font-size: 24px;
  margin-right: 13px;
}


.custom-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  direction: rtl;
}

.custom-content {
  direction: rtl;
}

.spanSpace{
    margin-left: 10px;
}


.detailsBtn{
  background-color: rgb(33, 157, 214);
  margin-right: 10px;
}

